body {
    background: #000 url(bowie_tiled_bg.jpg);
}

.navbar{
    background: rgba(200, 200, 200, 0.7);
    width: 100%;
}

.panel{
    background: rgba(255, 255, 255, 0.9);
}
.navbar-brand{
    color: black;
    font-size: 2em;
    font-weight: bold;
}
h2{
    color: black;
    font-weight: bold;
    font-size: 2em;
}

.about-text{
    color: black;
    font-size: 1em;
}
.nav-link{
    color: black;
    font-weight: bold;
    font-size: 1em;
}

@media (max-width: 767px) {
    .text-right { text-align:left }
}
